<div class="control-container">
  <div class="control-node-info" *ngIf="currentNode">
    <div>{{ currentNode.path }}</div>
    <div>{{ currentNode.getDepth() }}</div>
    <button (click)="add()">Add</button>
    <button (click)="remove()">Remove</button>
<!--    construct node settings-->
  </div>
  <button (click)="startRecording()">Start recording</button>
  <button (click)="stopRecording()">Stop recording</button>
  <button (click)="colorHistory()">Color history</button>
  <button (click)="reset()">Reset</button>
</div>

