<div
  *ngIf="{
    enableRecording: enableRecording$ | async,
    currentNode: currentNode$ | async
  } as async"
  class="control-container"
>
  <div>Recoding: {{ async.enableRecording ? 'enabled' : 'disabled' }}</div>
  <button (click)="toggleRecording()">{{ async.enableRecording ? 'ON' : 'OFF' }}</button>
  <div class="control-node-info" *ngIf="async.currentNode">
    <div>{{ async.currentNode.path }}</div>
    <div>{{ async.currentNode.getDepth() }}</div>
    <div>{{ async.currentNode.value.props.current }}</div>
    <button (click)="toggleDetectionMethod()">toggle detection method</button>
    <button (click)="add()">Add</button>
    <button (click)="remove()">Remove</button>
<!--    construct node settings-->
  </div>
  <button (click)="colorHistory()">Color history</button>
  <button (click)="reset()">Reset</button>
</div>

