<div
  *ngIf="{ value: node.value$ | async } as async"
  class="node-info"
  (click)="click($event)"
>
  <div
    #innerNode
    class="node-info-inner"
    [ngStyle]="styleState.background"
  >
    <div
      class="node-info-inner-foreground"
      [ngStyle]="styleState.foreground"
    >
      {{ node.value.props.onPush ? 'PUSH' : '' }}
    </div>
  </div>
</div>
<div class="node-container">
  <ng-template ngFor let-nodeChild [ngForOf]="node.children$ | async">
    <app-tree-node-on-push *ngIf="nodeChild.value.props.onPush" [setNode]="nodeChild" [height]="elHeight"></app-tree-node-on-push>
    <app-tree-node *ngIf="!nodeChild.value.props.onPush" [setNode]="nodeChild" [height]="elHeight"></app-tree-node>
  </ng-template>
</div>
