<div
  *ngIf="{ value: value$ | async } as async"
  class="node-info"
  (click)="click($event)"
>
  <div
    #innerNode class="node-info-inner"
    [ngClass]="{ 'node-info-current': async.value?.props?.current }"
  >
<!--    [ngClass]="{ 'node-info-current': async.value?.props?.current, 'node-info-checked': async.value?.props?.checked }"-->
    {{ node.path[node.path.length - 1] }}<br>
    {{ async.value?.props?.current }}
  </div>
</div>
<div class="node-container" #containerEl>
  <app-tree-node *ngFor="let nodeChild of children$ | async" [setNode]="nodeChild" [height]="elHeight"></app-tree-node>
</div>
